# Ambientes Virtuais
stats_env/
venv/
env/

# Arquivos de cache e compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos de configuração de IDEs
.vscode/
.idea/

# Arquivos de dependências e build
*.egg-info/
dist/
build/

# Arquivos sensíveis (NUNCA versionar credenciais)
.env

# Arquivos de log e bancos de dados locais
*.log
*.sqlite
*.db
logs/

# Diretórios de histórico
historico_relatorios/
historico_readme/

# Exceções: Mantenha arquivos de exemplo e requisitos
!requirements.txt
!.env.example